
.header{ grid-area:hed ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0D3E1;
  }
  .header img{
    width: 70px;
      margin: 0 auto;
  }
  .logoName{

   }
  