.catsy img {
    width: 600px;
}
.avatar img{
    padding: 15px;
    width:95px;
}
.descriptionUsers{
    margin-top: 30px;
    padding: 15px;
    font-family:Arial Rounded MT Bold;
    text-transform: uppercase;
}
.avatarDiscription{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
